*, *::before, *::after {
  box-sizing: border-box;
}

#wrapper {
	height: auto;
	width: auto;
}
#nav {
	width: auto;
	max-height: 100px;
	min-height: 50px;
	border: 1px solid #000;
	margin: 0 10px;
}
#search {
	/* display: none; */
	border-radius: 1ch;
	outline: none !important;
	padding: 1ch;
	margin: auto;
}